<!DOCTYPE html>
<html>
<head>
    <title>Primer Avance del Proyecto</title>
    <style>
        body {
            text-align: center;
        }

        h1 {
            font-size: 30px;
            text-align: center;
        }

        p {
            text-align: justify;
        }

        .bold {
            font-weight: bold;
        }
    </style>
</head>
<body>
    <h1>
        Primer Avance del Proyecto
    </h1>

    <h1>
        --------------------------
    </h1>
    <p class="bold">Resultado de aprendizaje:</p>
    <p>
        Aplica el diseño de ingeniería para producir soluciones que satisfagan
        necesidades específicas teniendo en cuenta los ámbitos de la salud pública, la
        seguridad y el bienestar, así como los factores globales, culturales, sociales,
        ambientales y económicos.
    </p>
    <centro><img src="~/img/1.jpg" class="img-fuid"></centro>

    <p class="bold">Objetivo Propuesto:</p>
    <p>
        Aplicar los conocimientos adquiridos en el aula de clase como en ambientes
        virtuales; además se vuelve importante que el alumno identifique las
        necesidades o problemas (puntos de dolor) que puede solucionar en su
        entorno laboral, social. Con la finalidad de que el estudiante tenga la capacidad
        de; aplicar el diseño de ingeniería para producir soluciones que satisfagan
        necesidades en empresas públicas, privadas incluso en sus propios
        emprendimientos. Los estudiantes deben desarrollar la habilidad de analizar el problema
        planteado (Caso de Negocio Anexo), para que mediante el uso del diseño de
        ingeniería para producir soluciones que satisfagan necesidades específicas
        generando por un lado múltiples soluciones; teniendo en cuenta los ámbitos de
        la salud pública, la seguridad y el bienestar.
    </p>
    <centro><img src="~/img/2.jpg" class="img-fuid"></centro>


</body>
</html>