@{
    ViewData["Title"] = "Busqueda de informacion";
}

<h1>Busqueda de informacion</h1>
Codigo del articulo buscado: @ViewData["codigo"]
<br />
Nombre del articulo buscado: @ViewData["NombreCentroCostos"]
<br />

